<!-- Just for the design no purpose served -->
<section id="section-footer">
  <div class="div-container">
    <div class="upper">
      <div class="upper-1">
        <h3>ZIGRAM</h3>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          eveniet ullam et qui facilis est exercitationem numquam excepturi
          voluptas neque.</span
        >
      </div>
      <div class="upper-2">
        <h4>Links</h4>
        <ul>
          <li>link1</li>
          <li>link2</li>
          <li>link3</li>
          <li>link4</li>
        </ul>
      </div>
      <div class="upper-3">
        <h4>Links</h4>
        <ul>
          <li>link1</li>
          <li>link2</li>
          <li>link3</li>
          <li>link4</li>
        </ul>
      </div>
    </div>
    <div class="lower">
      <span>@2021 Created by :</span>
      <span> Aakash Niwane</span>
    </div>
  </div>
</section>
